version: "3"

services:
  mongo:
    container_name: mongo
    image: mongo:4.4.18
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=GDT9MbJUTFHpyJyeS2JxzgkpYTjnrU8v
    command: mongod --port ${MONGODB_PORT:-27017}
    ports:
      - 27017

  chatgptg:
    container_name: chatgptg
    stdin_open: true
    tty: true
    command: python3 -m bot
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    entrypoint: []
    environment:
# check https://gg.resisto.rodeo/yo/chatgpTG/src/branch/main/docs/variables for more
      - MONGODB_HOST=mongo
      - MONGODB_USERNAME=root
      - MONGODB_PASSWORD=GDT9MbJUTFHpyJyeS2JxzgkpYTjnrU8v

      - TELEGRAM_TOKEN=6101.....
#    volumes:
#      - /route/my_config_dir:/config:ro
#      - /route/my_code_dir:/bot:ro
#      - /route/my_database_dir:/database:rw
