openai
pydub
python-telegram-bot[rate-limiter]
PyYAML
tls_client
retrying
fake_useragent
pydantic
PyPDF2
beautifulsoup4
pytesseract
httpx
html2text
motor
requests
curl_cffi
websockets
duckduckgo_search
python-dotenv
stopwords-iso
nltk
langdetect
transformers