openai
python-telegram-bot[rate-limiter]
tls_client
fake_useragent
PyPDF2
pytesseract
html2text
motor
duckduckgo_search
python-dotenv
nltk
langdetect
#imaginepy
docstring_parser
python_weather
tiktoken
ujson
udatetime