openai
pydub
python-telegram-bot[socks,rate-limiter]
PyYAML
tls_client
retrying
fake_useragent
pydantic
PyPDF2
beautifulsoup4
pytesseract
httpx[socks]
html2text
motor
requests[socks]
curl_cffi
websockets
duckduckgo_search
python-dotenv
stopwordsiso
nltk
langdetect
transformers
imaginepy